* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background: linear-gradient(0deg, rgb(168, 174, 211) 0%, rgba(237, 245, 249, 1) 63%);
    padding: 20px;
    color: #EC6E4D;
    text-align: center;
}

#recentSearch>h1,
main>h1 {
    margin: 30px 0 10px 0;
}

h1 {
    font-size: 30px;
    font-weight: 700;
}

input,
input:focus,
.form-control {
    margin-bottom: 15px;
    /* box-shadow: 0 0 0 0.25rem rgb(216 191 216 / 50%); */
    background-color: #9EBDE2;
    border: none;
    color: #EC6E4D !important;
}

::placeholder {
    color: #eedcd7 !important;
}

aside {
    /* border: 2px solid blue; */
    height: 600px;
    margin: 0px;
}

main {
    /* border: 2px solid blue; */
    align-content: flex-start;
}

#day {
    /* border: 2px solid rgba(247, 226, 238, 0.4); */
    border: none;
    min-height: 275px;
    width: 100%;
    /* background: linear-gradient(0deg, rgb(232, 209, 233) 0%, rgba(237, 245, 249, 1) 63%); */
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: thistle;
}

#fiveDayWeather {
    margin-bottom: 20px;
    /* margin: 10px 20px 50px 10px; */
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 100%;
}

hr {
    height: 3px !important;
    color: slategray;
    opacity: 1;
}

#fiveDayWeather>h2 {
    max-height: 50px;
    font-weight: 700px !important;
    font-size: 20px;
    margin: 0 5px 0 5px;
}

.card {
    /* padding: 10px 5px;
    max-height: 275px;
    margin: 10px; */
    width: 19%;
    height: 100%;
    background-color: thistle;
    /* border: 2px solid rgba(247, 226, 238, 0.4); */
    border: none;
    border-radius: 10px;
}

.card-title {
    margin-bottom: 20px;
}

.input-group-lg {
    margin: 0px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:target {
    background-color: #EC6E4D;
    border-color: thistle;
    /* box-shadow: 0 0 0 0.25rem rgb(216 191 216 / 50%); */
    border: none;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:target {
    margin: 13px;
    width: 94%;
    margin: 0px;
    background-color: rgb(158, 189, 226);
    /* border-color: thistle; */
    border: none;
}

header {
    padding: 40px;
    text-align: center;
    color: #fff;
    border-bottom: 30px #879274;
}

header div {
    list-style-type: none;
    color: #8E080B;
    max-width: 400px;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
}

@media screen and (max-width: 1000px) {
    #fiveDayWeather {
        flex-direction: column;
    }
    .card {
        width: 100%;
        height: 300px;
        margin: 10px;
    }
}

@media screen and (max-width: 800px) {
    #fiveDayWeather {
        flex-direction: column;
    }
    .card {
        width: 100%;
        height: 330px;
        margin: 10px;
        font-size: 20px;
        padding-bottom: 15px;
    }
}